<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theta Vibes</title>
  </head>
  <body>
    <p>
      First Name: $firstName <br />
      Last Name: $lastName <br />
      Email: $email <br />
      Phone: $phoneNumber <br />
      Message: $message <br />
    </p>
    <p>
      Best Regards, <br />
      $firstName $lastName
    </p>
    <img style="height: 50px" src="cid:thetavibes" alt="" />
  </body>
</html>
