<!DOCTYPE html>
<html>
  <body>
    <p>
      Hi $name, <br />

      Welcome to Theta Vibes <br />
      Please click the link below to get your email verified:<br />

      <a href="$link" target="_blank">👉🏽Confirm your e-mail address</a><br />

      <!-- We can't wait to see your dream team.<br/>
      Good luck for your career!🍀 -->
    </p>

    <p>Best Regards, <br />Theta Vibes</p>
    <img style="height: 50px" src="cid:standoutSpecialities" alt="" />
  </body>
</html>
